

.bg-custom-gray {
    background-color: #e0e0e0; /* Adjust the hex color as needed */
}

.fieldset-container {
    padding: 5px;
    border: 1px solid #bdbdbd; /* Adjust the hex color as needed */
    border-radius: 5px;
}

.odd-set {
    background-color: #e0e0e0;
}

.even-set {
    background-color: #f5f5f5;
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.record-card {
    padding: 2px;
}

.field-set-card {
    margin: 2px;
    padding: 2px;
}

.list-group-item {
    display: flex;
    flex-direction: row;
}
  
.flex-fill {
    flex: 1; /* Ensures each column takes up equal space */
    text-align: left; /* Aligns the text to the left in each column */
    padding-left: 10px; /* Adds some padding to ensure the text does not stick to the edge */
}

/* You might want to align the 'Edit' link to the right to differentiate it from other columns */
.edit-link {
    text-align: right;
    padding-right: 10px; /* Similar reasoning for adding some padding on the right */
}