{% extends "maps/enter_bird.html" %}
{% load static %}

{% block title %}Detail{% endblock %}
{% block form_title %}Capture Record Details{% endblock %}

{% block content %}
    {{ block.super }}
    {% if request.user.initials == form.instance.bander_initials or request.user.initials == form.instance.scribe_initials %}
        <div class="container mb-3">
            <a href="{% url 'maps:edit_capture_record' pk=form.instance.pk %}" class="btn btn-info">Edit Details</a>
        </div>
    {% endif %}
{% endblock %}

{% block time_picker_js %}
    <script src="{% static 'js/update_time_picker.js' %}"></script>
{% endblock %}

