{% extends "maps/base.html" %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <style>
        html, body {
            overflow-y: scroll !important; /* Always show scrollbar */
        }
    </style>
{% endblock %}

{% block title %}Enter Bird{% endblock %}

{% block content %}
<div class="container">
    <div class="p-5 m-auto">
        <form method="post">
            <h1 class="text-center">Enter Bird Record</h1>
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    Please correct the errors below.
                </div>
            {% endif %}

            {% for field in form %}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            {% endfor %}

        <!-- Trigger Modal Button -->
        <button type="button" id="view-species-info-btn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#speciesInfoModal">View Species Info</button>

            {{ form|crispy }}
            <button type='submit' class="btn btn-lg btn-primary w-100">Submit</button>
        </form>

        <!-- Species Info Modal -->
        <div id="speciesInfoModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Species Information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="species-info-content">
                <p>Select a species to view its information here.</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        
            </div>
        </div>
  

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function() {
        $('.django-select2').select2();

        $('#id_species_number').change(function() {
            var speciesNumber = $(this).val();
            $('#view-species-info-btn').data('species-number', speciesNumber); // Store the selected species number in the button's data attribute
        });

        $('#view-species-info-btn').click(function() {
            var speciesNumber = $(this).data('species-number'); // Retrieve the species number from the button's data attribute
            if (speciesNumber) {
                $.ajax({
                    url: '{% url "maps:get_species" %}',
                    data: { 'species_number': speciesNumber },
                    success: function(htmlSnippet) {
                        $('#species-info-content').html(htmlSnippet); // Directly insert the HTML snippet
                        $('#speciesInfoModal').modal('show'); // Show the modal
                    },
                    error: function() {
                        $('#species-info-content').html('<p>Could not retrieve species information. Please try again.</p>');
                        $('#speciesInfoModal').modal('show');
                    }
                });
            }
        });

        $('#speciesInfoModal').on('hidden.bs.modal', function () {
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $('body').css('padding-right', ''); // Reset any inline padding-right
        });
    });
</script>

{% endblock %}


