{% extends "maps/base.html" %}
{% load crispy_forms_tags %}

{% block extra_css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block title %}Enter Bird{% endblock %}

{% block content %}
<div class="container">
    <div class="p-5 m-auto">
        <form method="post">
            <h1 class="text-center">Enter Bird Record</h1>
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    Please correct the errors below.
                </div>
            {% endif %}

            <div id="band-sizes-message"></div>

            {% for field in form %}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            {% endfor %}

            {{ form|crispy }}
            <button type='submit' class="btn btn-lg btn-primary w-100">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script>
      $(document).ready(function() {
          $('.django-select2').select2(); // Initialize Select2 elements with the 'django-select2' class
      });
      $('#id_species_number').change(function() {
        var speciesNumber = $(this).val(); // Get the selected species number
        $.ajax({
            url: '{% url "maps:get_band_sizes_for_species" %}',
            data: {'species_number': speciesNumber},
            success: function(data) {
                var bandSizesMessage = "Appropriate band sizes for this species: " + data.band_sizes.join(', ');
                $('#band-sizes-message').text(bandSizesMessage); // Update the message
            }
        });
    });
  </script>
{% endblock %}