{% extends 'maps/base.html' %}
{% load custom_filters %}

{% block title %}All Capture Records{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-center">View All Capture Records</h1>
    <ul>
      {% for record in capture_records %}
        <li>{{record.capture_time}}
          <a href="{% url 'maps:detail_capture_record' pk=record.pk %}">{{record.band_number}}</a>
          {{ SPECIES|get_item:record.species_number }} {{ record.bander_initials }}
      {% endfor %}
    </ul>
  </div>
{% endblock %}