{% extends 'maps/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}All Capture Records{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="text-center">View All Capture Records</h1>

  <!-- Search input field -->
  <input type="text" id="searchBandInput" onkeyup="searchByAny('searchBandInput', 'band-number')" placeholder="Search for band numbers..." class="form-control mb-4" title="Type in a band number">
  <input type="text" id="searchSpeciesInput" onkeyup="searchByAny('searchSpeciesInput', 'species')" placeholder="Search species..." class="form-control mb-4" title="Type in a alpha code">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Band</th>
        <th scope="col">Species</th>
        <th scope="col">Bander/<br>Scribe</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody id="recordsTable">
      {% for record in capture_records %}
      <tr class="{{ forloop.counter|divisibleby:2|yesno:'table-secondary,' }}">
        <td>{{ record.capture_time|date:"m/d H:i" }}</td>
        <td class="band-number">{{ record.band_number }}</td>
        <td class="species">{{record.alpha_code}}</td>
        <td>{{ record.bander_initials }}/<br>{{ record.scribe_initials }}</td>
        <td>
          <a href="{% url 'maps:detail_capture_record' pk=record.pk %}">View</a>
          {% if request.user.initials == record.bander_initials or request.user.initials == record.scribe_initials%}
          | <a href="{% url 'maps:edit_capture_record' pk=record.pk %}">Edit</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/search_band_number.js' %}"></script>
{% endblock %}

