<header class="container py-2">
    <div>
        {% if user.is_authenticated %}
          {% if user.is_approved and user.initials %}
            <a href="{% url 'maps:create_capture_record' %}">Create Record</a> /
            <a href="{% url 'maps:list_capture_records' %}">Records</a> /
          {% endif %}
            <a href="{% url 'users:profile' %}">Profile</a> /
          {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}">Admin</a> /
          {% endif %}
          <a href="{% url 'account_logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'account_login' %}">Login</a> /
          <a href="{% url 'account_signup' %}">Register</a>
        {% endif %}
    </div>
</header>