{% extends "charts/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block title %}Birds{% endblock %}

{% block content %}
  <div class="container">

    <div class="date-container">
      <h3 class="text-center">Filter by Date Range</h2>
      <p class="text-muted text-center" style="font-size: smaller;">To select a date range, choose a start and end date. To select a single day, tap the same date twice.</p>
      <form method="get" id="date-form" class="row g-3">
        <div class="col-12">
          <input
            type="text"
            id="id_date_range"
            name="date_range"
            class="form-control"
            placeholder="Select Date Range"
            value="{{ date_form.date_range.value|default_if_none:'' }}">
        </div>

        <!-- Row 3: Buttons -->
        <div class="col-4">
          <input
            type="button"
            value="Clear"
            class="btn w-100"
            style="
              background-color: {{ color_array.2 }};
              color: {{ color_array.1 }};
              font-weight: bold;
            "
            onclick="clearDates()">
        </div>
        <div class="col-8">
          <input
            type="submit"
            value="Submit"
            style="
              background-color: {{ color_array.3 }};
              color: {{ color_array.0 }};
              font-weight: bold;
            "
            class="btn w-100">
        </div>
      </form>
    </div>

    <div>
      <h2 class="text-center">Total Captures: {{ capture_count_total }}</h2>
    </div>

    <div class="chart-container">{{ chart_days_capture_count|safe }}</div>
    <div class="chart-container">{{ chart_species_capture_count|safe }}</div>
    <div class="chart-container">{{ chart_sex_capture_count|safe }}</div>
    <div class="chart-container">{{ chart_age_capture_count|safe }}</div>
    <div class="chart-container">{{ chart_net_capture_count|safe }}</div>
  </div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static 'js/chart_date_picker.js' %}"></script>
{{ capture_days|json_script:"specialDates" }}
{% endblock %}

