{% extends "charts/base.html" %}

{% block title %}Birds{% endblock %}

{% block content %}
  <div class="container">
    {% include "charts/partials/nav.html" %}
    <h1 class="text-center">Birds</h1>

    <form method="get">
      <label for="date">Date:</label>
      <input type="date" id="date" name="date">
      <input type="submit" value="Submit">
    </form>

    <div class="chart-container">{{ chart_species_capture_count|safe }}</div>
    <div class="chart-container">{{ chart_sex_capture_count|safe }}</div>
    <div class="chart-container">{{ chart_age_capture_count|safe }}</div>
  </div>
{% endblock %}